# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dist files
dist/
dist-ssr/
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.local
.env.*.local

# Model files (太大，不提交到仓库)
iconcraft-pro---智能图标工坊/public/models/*

# edge-bookmark README（暂时不推送）
edge-bookmark/README.md
